{% extends "layout.html" %}

{% block title %}
    Shopping List
{% endblock %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Food<span class="pink">Sitter</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/add">Add Food</a></li>
            <li class="nav-item"><a class="nav-link" href="/takeout">Take Out Food</a></li>
            <li class="nav-item active"><a class="nav-link" href="/shoppinglist">Shopping List</a></li>
            <li class="nav-item"><a class="nav-link" href="/history">History</a></li>
            <li class="nav-item"><a class="nav-link" href="/settings">Settings</a></li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
        </ul>
    </div>
</nav>

{% endblock %}

{% block main %}

<div class="jumbotron">
    <h1 class="display-3">Your Shopping List!</h1>
    <p class="lead">Time to restock already?</p>
    <hr class="my-4">
    <p>Here's what you need...</p>

    <table class="table table-striped sortable">
        <thead>
            <th scope="col">Food</th></th>
            <th scope="col">Note</th>
        </thead>
        {% for row in rows %}
        {% if row["onList"] == True %}
        <tr>
            <td>{{ row["food"] }}</td>
            <td>{{ row["listNote"] }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>

</div>

{% endblock %}